@import 'variables';

/* Footer */
footer {
    background-color: $color-secundario;
    color: $p-secundario;

    a {
        color: $a-color;
        text-decoration: none;
        display: inline-block;
        transition: transform 0.3s ease;

        &:hover {
            color: $a-hover;
            transform: scale(1.1);
        }
    }
}