/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;

    #logo {
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            transform: scale(1.2);
        }
    }

    .nav-link {
        color: #4da6ff;
        display: inline-block;
        transition: transform 0.3s ease;

        &:hover {
            color: #ffffff;
            transform: scale(1.1);
        }
    }

    #register {
        p {
            a {
                color: #4da6ff;
                text-decoration: none;
            }
        }
    }
}