/* Contenido principal */
main {
    background-color: $color-primario;
    padding-bottom: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    .titulo {
        color: $titulo;
        text-align: center;
        margin-top: 2rem;
    }

    /* Carrusel */
    #carouselExampleAutoplaying{
        width: 100%;
        max-width: 1400px;
        height: auto;
        overflow: hidden;
        border-radius: 30px;
        border: 3px solid $color-secundario;

        .carousel-inner {

            .carousel-item {
                
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@import 'variables';
@import 'catalogo';
@import 'faq';
@import 'contacto';
@import 'registro';
@import 'terms';