@import 'variables';

/* Contenido principal */
main {
    background-color: $color-primario;
    padding-bottom: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    .titulo {
        color: $titulo;
        text-align: center;
        margin-top: 2rem;
    }
}

@import 'inicio';
@import 'catalogo';
@import 'faq';
@import 'contacto';
@import 'registro';
@import 'terms';