//Colores
$color-primario:#f4e5cc;
$color-secundario:#333333;
$p-primario: #333333;
$p-secundario: #ffffff;
$container-principal: #ffffff;
$container-secundario: #fafafa;
$titulo: #000000;
$texto-primario: #000000;
$texto-secundario: #ffffff;
$a-color: #4da6ff;
$a-hover: #ffffff;
$btn-color: #0d6efd;
$btn-hover: #0b5ed7;
