@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'mixins';

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
html {
    height: 100%;
    margin: 0;

    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }    
}

@include media-query($breakpoint-tablet);
@include media-query($breakpoint-mobile);